
nav ul{
    position: relative;
    left: 400px;
    font-size: 17px;
 }
    .btn {
     width: 150px;
     margin-left: 10px;
     
 }
 .log{
     text-decoration: none;
     color: gray;
     margin-left: 10px;
     font-size: 17px;
 }
 .log:hover{
     text-decoration: none;
     color: rgb(238, 51, 51);
 }
 .brand{
     position: relative;
     left: 400px;
 }
 
 .icon ul li{
    float: left;
    padding: 5px;
}
.icon ul li a img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
   
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    text-align: right;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
    position: relative;
    left: 60px;
  }
   span h5{
      text-align: center;
      color: rgb(33, 33, 129);
      font-size: 20px;
  }
  .container {
    padding: 2px 16px;
  }

.col h2{
    text-align: right;
}
.col ul{
    list-style: none;
    text-align: right;
}
.col ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
}
.col ul li a:hover{
    color: maroon;
}
.col ul li {
    padding: 5px;
}
.chance ,.chance1{
    position: relative;
    top:40px
}
.copy{
    text-align: center;
    font-size: 17px;
}