
nav ul{
    position: relative;
    left: 50px;
    font-size: 13px;
    
 }
 nav ul li{
     padding: 13px;
 }
    .btn {
     width: 150px;
     margin-left: 10px;
     
 }
 .log{
     text-decoration: none;
     color: gray;
     margin-left: 10px;
     font-size: 13px;
 }
 .log:hover{
     text-decoration: none;
     color: rgb(238, 51, 51);
 }
 .brand{
     position: relative;
     left: 50px;
 }
 
 .icon ul li{
    float: left;
    padding: 5px;
}
.icon ul li a img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
   
}
.col h2{
    text-align: right;
}
.col ul{
    list-style: none;
    text-align: right;
}
.col ul li a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
}
.col ul li a:hover{
    color: maroon;
}
.col ul li {
    padding: 5px;
}
.chance ,.chance1{
    position: relative;
    top:40px
}
.copy{
    text-align: center;
    font-size: 17px;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }
  .container{
      position: relative;
      left:50px;
      text-align: right;
  }